@font-face {
	font-family: 'Atlas Grotesk Web';
	src: url('AtlasGrotesk-Black-Web.eot');
	src: url('AtlasGrotesk-Black-Web.eot?#iefix') format('embedded-opentype'),
	url('AtlasGrotesk-Black-Web.woff') format('woff'),
	url('AtlasGrotesk-Black-Web.ttf') format('truetype'),
	url('AtlasGrotesk-Black-Web.svg#AtlasGrotesk-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Atlas Typewriter Web';
	src: url('AtlasTypewriter-Regular-Web.eot');
	src: url('AtlasTypewriter-Regular-Web.eot?#iefix') format('embedded-opentype'),
	url('AtlasTypewriter-Regular-Web.woff') format('woff'),
	url('AtlasTypewriter-Regular-Web.ttf') format('truetype'),
	url('AtlasTypewriter-Regular-Web.svg#AtlasTypewriter-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

html, body, h1, h2, p, div {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Helvetica, arial, sans-serif;
}

#info {
	height: 6em;
	line-height: 1.5em;
}

#info p {
	font-family: 'Atlas Typewriter Web', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#info p:first-of-type {
	font-family: 'Atlas Grotesk Web', Helvetica, Arial, sans-serif;
	line-height: 1.5em;
}

body {
	background: #000;
	overflow: hidden;
}

.iframeblocker {
	z-index: 50;
}

iframe {
	pointer-events: none;
}

#prog-container,
#progress
 {
	position: absolute;
	top: 85px;
	left: 24px;
	bottom: 83px;
	right: auto;
	width: 2px;
	z-index: 500;
	background: #f5f5f5;
	transition: opacity 600ms ease;
}

body.woop #prog-container,
body.woop #progress {
	opacity: 0;
}

#progress {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 501;
	background: #aaa;
}

a {
	color: #a0a5a8;
	text-decoration: none;
}

input {
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	width: 100%;
	margin: 0 0 2em 0;
	font-size: 14px;
	padding-left: 1em;
	padding-bottom: 0.5em;
	color: #f5f5f5;
}

textarea {
	background: none;
	border: 2px solid #fff;
	width: 100%;
	padding: 1em;
	color: #f5f5f5;
}

input[type="submit"] {
	display: none;
}

label {
	float: right;
	margin-top: 1em;
	color: #fff;
	cursor: pointer;
}

label svg {
	color: #fff;
	fill: currentColor;
	vertical-align: top;
}

::-webkit-input-placeholder {
	color: #f5f5f5;
}

:-moz-placeholder { /* Firefox 18- */
	color: #f5f5f5;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #f5f5f5;
}

:-ms-input-placeholder {  
	color: #f5f5f5;
}

.closebutton {
	color: #fff;
	font-size: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#box1,
#box2,
#box3 {
	position: absolute;
	z-index: 30;
	bottom: 25px;
	left: 24px;
	width: 60px;
	height: 56px;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-left: 0;
	border-right: 1px solid rgba(255, 255, 255, 0.8);
}

#box2 {
	left: 85px;
	border-left: 0;
	border-right: 0;
}

#box3 {
	left: 145px;
	width: 100%;
	-webkit-border-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8) 1%,rgba(170, 170, 170, 0) 65%) 0 0 100% 0/0 0 2px 0 stretch;
}

#info,
h1,
#next-btn,
#prev-btn,
#random-btn,
#info-btn,
#play-btn,
#pause-btn,
#box1,
#box2,
#box3,
#social,
#btns {
	/*transform: scale(1);*/
	visibility: visible;
	opacity: 1;
	transition-duration: 600ms;
	transition-property: visibility, opacity;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

h1 {
	color: #fff;
	fill: currentColor;
}

h2 {
	font-family: "Atlas Grotesk Web";
	font-size: 60px;
	line-height: 40px;
	margin-bottom: 32px;
	position: absolute;
	right: 0;
	top: -40px;
	color: #a0a5a8;
	transform-origin: 100% 100%;
	transform: rotate(-90deg);
	text-align: right;
	box-sizing: border-box;
	z-index: 30;
	font-size: 60px;
}

body.woop #info,
body.woop h1,
body.woop #next-btn,
body.woop #prev-btn,
body.woop #random-btn,
body.woop #info-btn,
body.woop #play-btn,
body.woop #pause-btn,
body.woop #box1,
body.woop #box2,
body.woop #box3,
body.woop #social {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

body.woop #btns {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

#vid1 {
	position: absolute;
	top: 0;
	right: 0;
}

#about,
#contact {
	visibility: hidden;
	transform: scale(2);
	transform-origin: 100% 0%;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    line-height: 24px;
    color: #a0a5a8;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    z-index: 20;
}

#about {
	transform-origin: 0% 100%;
}

#about.mesh,
#contact.mesh {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
}

.overlay-bg {
	position: absolute;
	top: 0;
	left: 20px;
	bottom: 20px;
	right: 0;
	background: url(data:image/gif;base64,R0lGODlhBAAEAIABAGVrcP///yH5BAEAAAEALAAAAAAEAAQAAAIFBBKGy1EAOw==);
}

.overlay-table {
	display:table;
	width:35%;
	min-width: 300px;
	height:100%;
	margin: 0 auto;
}

.overlay-table-inner {
	display:table-cell;
	vertical-align:middle;
	width: 100px;
}

#about p,
#contact p {
	color: #f5f5f5;
	font-family: "Atlas Typewriter Web";
	font-size: 16px;
}

#info {
	position: absolute;
	bottom: 60px;
	right: 24px;
	z-index: 100;
	color: #f5f5f5;
	text-align: right;
	width: 400px;
	color: rgba(255, 255, 255, 0.8);
}

#info p:first-of-type {
	color: #f5f5f5;
}

h1 {
	position: absolute;
	z-index: 100;
	top: 36px;
	left: 22px;
}

#next-btn,
#prev-btn,
#random-btn,
#info-btn,
#play-btn,
#pause-btn {
	z-index: 100;
	position: absolute;
	color: #fff;
	fill: currentColor;
}

#next-btn:hover,
#prev-btn:hover,
#random-btn:hover,
#info-btn:hover,
#play-btn:hover,
#pause-btn:hover,
#about-btn:hover,
#contact-btn:hover,
#social a:hover
 {
	color: #fd542f;
	fill: currentColor;
	cursor: pointer;
}

#social {
	position: absolute;
	bottom: 21px;
	right: 24px;
	z-index: 100;
}

#social a {
	margin: 0 12px;
	color: #a0a5a8;
	fill: currentColor;
}

#social a:last-of-type {
	margin: 0;
}

#btns {
	position: absolute;
	right: 30px;
	top: 0;
	color: rgba(255, 255, 255, 0.8);
	transform-origin: 100% 100%;
	transform: rotate(-90deg);
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
	z-index: 30;
	font-size: 14px;
	font-family: 'Atlas Grotesk Web', Helvetica, Arial, sans-serif;
}

#btns a {
	color: rgba(255, 255, 255, 0.8);
}

#next-btn {
	bottom: 11em;
	right: 21px;
}

#prev-btn {
	bottom: 11em;
	right: 60px;
}

#random-btn {
	left: 102px;
	bottom: 39px;
}

#info-btn {
	left: 42px;
	bottom: 39px;
}

#play-btn {
	left: 72px;
	bottom: 102px;
}

#video-player {
	z-index: 10;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transform: translateZ(0);
	-webkit-transition: all 600ms ease;
	transition: all 600ms ease;
	transform: scale(1.15);
}

body.woop #video-player {
	transform: scale(1.2);
}

#holder {
	z-index: 30;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(data:image/gif;base64,R0lGODlhBAAEAIABAGVrcP///yH5BAEAAAEALAAAAAAEAAQAAAIFBBKGy1EAOw==);
	border-width: 12px;
	border-style: solid;
	border-color: #000;
	pointer-events: none;
	opacity: 0.5;
	transition: all 600ms ease;
}

body.woop #holder {
	top: -12px;
	left: -12px;
	right: -12px;
	bottom: -12px;
	opacity: 0;
}

.vjs-play-control,
.vjs-current-time,
.vjs-time-divider,
.vjs-duration,
.vjs-remaining-time,
.vjs-live-controls,
.vjs-fullscreen-control,
.vjs-volume-control,
.vjs-mute-control,
.vjs-seek-handle {
	display: none;
}

.vjs-progress-control {
	display: block !important;
	transform-origin: 0 0;
	transform: rotate(90deg);
	height: 2px !important;
	top: 0 !important;
}

.vjs-control-bar {
	bottom: auto !important;
	visibility: visible !important;
	opacity: 1 !important;
	transition: visibility: 600ms, opacity 600ms !important;
}

.vjs-default-skin .vjs-control-bar {
	background-color: transparent !important;
}

.vjs-play-progress {
	background: #fff !important;
}

.vjs-user-inactive .vjs-control-bar {
	display: none !important;
}

.vjs-user-active .vjs-control-bar {
	display: block !important;
}

.vjs-default-skin .vjs-slider {
	background-color: rgba(255, 255, 255, 0.5) !important;
}