{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>Juice VCR</title>
	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="stylesheet" href="juicevcr.min.css" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@JuiceVCR" />
	<meta name="twitter:title" content="Juice VCR" />
	<meta name="twitter:description" content="An online music television channel showcasing the latest visuals from DIY + independent artists." />
	<meta name="twitter:image" content="http://46.101.57.244/social.jpg" />
	<meta property="og:url" content="http://46.101.57.244"/>
    <meta property="og:title" content="Juice VCR"/>
    <meta property="og:image" content="http://46.101.57.244/social.jpg"/>
    <meta property="og:site_name" content="Juice VCR"/>
    <meta property="og:description" content="An online music television channel showcasing the latest visuals from DIY + independent artists."/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
	<div id="container">
		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
	</div>

</body>
</html>
