{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>JuiceVCR</title>
	<link rel="stylesheet" href="juicevcr.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@JuiceVCR">
	<meta name="twitter:title" content="My Title Here">
	<meta name="twitter:description" content="My Description Here">
	<meta name="twitter:image" content="https://i.ytimg.com/vi/Qozm-IiUMz4/maxresdefault.jpg">
</head>

<body>
	<div id="container">
		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
	</div>

</body>
</html>
